@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}


body {
    
    background-color: rgba(215, 73, 73, 1);
  
}




.gris {

    background-color: rgba(243, 243, 243, 1);
    width: 75%;
    height: 90vh;
    margin: 0 auto;

}


h1 {
    padding: 8% 0 0 6% ;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 16,41px;
    font-size: 14px;
    text-shadow: 0px 1px 1px black;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 800;
    margin-left: 85%;
    margin-top: 2%;
    font-size: 16px;
    word-spacing: 1.5px;
}


.gris>p {
    font-family: 'Roboto';
    font-size: large;
    text-transform: uppercase;
    font-weight: 900;
    padding: 2% 0;
    margin-left: 46%;

    
}


p span {
    letter-spacing: 0.5px;
    font-family: 'Roboto';
    color: rgb(182, 27, 27);
    
}

.card {
    margin-top: 2%;
    margin-left: 6%;
    border-radius: 7%;
    box-shadow: 2px 3px 5px rgb(94, 89, 89);
    width: 200px;
    height: 300px;
    background-color: white;
}

.card img + p {
    font-size: 14px;
    line-height: 16.41px;
    font-family: 'Roboto';
    font-weight: 700;
    margin-left: 10%;
    padding-top: 7%;
    text-align: left;
}

.card img + p + p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    margin-left: 10%;
    padding-top: 1%;
}

.card p + img{
    margin-left: 10%;
    padding-top: 3%;
}

.card p + img + img {
    padding-left: 2%;
}



footer {

text-align: center;
padding: 27px;
height: 10vh;
color: rgba(255, 255, 255, 1);
background: rgba(58, 58, 58, 1);

font-family: 'Roboto';
font-size: 14px;
font-weight: 700;
line-height: 16.41px;


}